@import "color";

.footer {
    background-color: $dark;
    height: 200px;
    width: 100%;
    color: $first;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#ft {
    font: 700 2rem $text1;
    text-transform: uppercase;
}

#pt {
    font: 500 1.2rem $text1;
}
